<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xmlns="https://logging.apache.org/xml/ns"
               xsi:schemaLocation="
                       https://logging.apache.org/xml/ns
                       https://logging.apache.org/xml/ns/log4j-config-2.xsd">

    <Appenders>
        <Console name="CONSOLE">
            <!--<JsonTemplateLayout/>          gives error, why? -->
        </Console>
    </Appenders>

    <Loggers>
<!--        ALL < DEBUG < INFO < WARN < ERROR < FATAL < OFF -->
        <Logger name="main" level="DEBUG"/>
        <Root level="ERROR">
            <AppenderRef ref="CONSOLE"/>
        </Root>
    </Loggers>


</Configuration>
